html, body {
  font-family: "Open Sans", sans-serif;

  padding: 0;
  margin: 0;
}

.messages {
  width: 60%;
  height: 100%;

  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
