button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: 1px solid $primary;
  border-radius: 8px;
  padding: 10px 30px;
  margin: 5px;

  cursor: pointer;

  color: $primary;  
  text-transform: uppercase;
  transition: all 0.3s linear;

  &:hover {
    background-color: $primary;
    color: $light-gray;
  }
}

input {
  border: 1px solid rgba(52, 180, 152, 0.349);
  border-radius: 8px;

  margin: 5px;
  padding: 10px 20px;

  transition: all 0.3s linear;

  &:hover, &:active, &:focus {
    border: 1px solid rgba(52, 180, 152, 0.8);
  }
}