$dark-vanilla: #cdc6ae;
$laurel-green: #a3b4a2;
$sparkle: #38686a;
$seaweed: #187795;
$cornflower: #2589bd;



$light-gray: #f3f3f3;

$background: $light-gray;
$primary: $laurel-green;
$secondary: $sparkle;