.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 800px;
  height: 1000px;
  border: 1px solid greenyellow; 
  border-radius: 5px;

  padding: 10px;
}